/* start with social media buttons */

#social-media{

width:65px;
height:35px;
position:fixed;
top:20px;
left:0px;

}

#social-media .effects{

-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;

}

#social-media .effects:hover{

-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
width:75;
height:64;

}